*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

th {
    font-weight: normal;
    text-align: -internal-center;
}

body,html{
    height:100%;
    width:100%;
}

.logo{
    top:10px;
}

nav{
    display: block;
    height:82px;
    width:100%;
    background-color: rgb(71,89,148);
    padding: 0px 0px 0px 230px;
}

nav>.logo{
padding-top:10px;
}


.navbar-bar{
    display: inline-block;
    float:right;
    margin: 15px 229px 0px 0px;
}

.title{
color:white;
}

main{
    display: inline-block;
    height:585px;
    width:100%;
    padding-left:231px;
    padding-right:231px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.left-container{
     display: inline-block;
    width:60%;
    height:100vh;
    vertical-align: top;
    padding-top: 45px;
    
}

.right-container{
    display: inline-block;
    width:40%;
    height:100vh;
}

.personal-info{
    margin-top:12px;
   font-size:20px;
   padding:11px 0px 11px 10px;
}

.birth-row > span{
    display: inline-block;
    height:auto;
    width:50%;
}

.birth-select{
    height:30px;
    font-size:16px;
}

.birth-row{
    display: inline-block;
     width:100%;
}

.select-col{
vertical-align: top;
}

.note-col{
vertical-align: top;
}

button{
    width:195px;
    height:41px;
    background: linear-gradient(rgb(171,215,130),rgb(105,136,75));
    color:white;
    text-shadow: 1px 1px black;
    font-size:20px;
    font-weight: 600;
    border:1px solid black;
    border-radius:5px;
}

footer{
    padding-left:231px;
    padding-right:231px;
    padding-top:40px;
}

.first-row{
    font-size:12px;
    color:gray;
}

.first-row>a{
 margin:5px;
 color:rgb(68,88,149);
 text-decoration: none;
}

.second-row{
    font-size:12px;
    color:gray;
  
}

.second-row>a{

 color:rgb(68,88,149);
 text-decoration: none;
   margin:10px;
}